15122/
15150/
15251/
21241/
21259/
36217/
76101/
85241/
.AMD
.appletviewer
.archey3.cfg
.asciiportal/
AshwinSekar.github.io/
.bash_history
.bash_logout
.bspwm.log
.cache/
.colors
.config/*
.config/abiword/
.config/chromium/
.config/dconf/
.config/Empathy/
.config/enchant/
.config/epdfview/
.config/epiphany/
.config/evince/
.config/evolution/
.config/fontconfig/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/ImageMagick/
.config/javascripting/
.config/learnyounode/
.config/menus/
.config/mimeapps.list
.config/nautilus/
.config/pulse/
.config/ranger/
.config/Skype/
.config/spotify/
.config/stream-adventure/
.config/sublime-text-2/
.config/texput.log
.config/Thunar/
.config/Trolltech.conf
.config/workshopper/
.config/xfce4/
.dbus/
Desktop/
Downloads/
.eclipse/
.emacs
.emacs.d/
ember/
.esd_auth
eventhub/
.fehbg
.fonts/
.fonts.conf
fooder/
games/
.gitconfig
githubscrots/
.gnome/
.gnupg
.gtk-bookmarks
.gtkrc-2.0
.histfile
.ICEauthority
.icons/
.inputrc
.java/
.kde4/
.lesshst
.local/
.macromedia/
march madness/
.mozilla/
.node-gyp/
nodeTutorials/
.npm/
.pki/
.pulse-cookie
.python_history
R/
Robotic hand/
.RProfile
.Skype/
.ssh/known_hosts
.steam/
.steampath
.steampid
.sxhkd.log
TA/
.thumbnails/
.tmux.conf
.vim/bundle/*
.viminfo
.vim/.netrwhist
Wallpapers/
.wallpapers/.current
.weechat/
.when/
.wine/
.Xauthority
.xdvirc
.zcompdump
.zshrc
