.ICEauthority
.RProfile
.Skype/
.appletviewer
.archey3.cfg
.asciiportal/
.bash_history
.bash_logout
.bspwm.log
.cache/
.colors
.config/*
.vim/bundle/*
.vim/.netrwhist
.config/Empathy/
.config/ImageMagick/
.config/Skype/
.config/Thunar/
.config/Trolltech.conf
.config/abiword/
.config/chromium/
.config/dconf/
.config/enchant/
.config/epdfview/
.config/epiphany/
.config/evince/
.config/evolution/
.config/fontconfig/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/javascripting/
.config/learnyounode/
.config/menus/
.config/mimeapps.list
.config/nautilus/
.config/pulse/
.config/ranger/
.config/spotify/
.config/stream-adventure/
.config/sublime-text-2/
.config/texput.log
.config/workshopper/
.config/xfce4/
.dbus/
.eclipse/
.emacs
.emacs.d/
.esd_auth
.fehbg
.fonts.conf
.fonts/
.gitconfig
.gnome/
.gtk-bookmarks
.gtkrc-2.0
.histfile
.icons/
.inputrc
.java/
.kde4/
.lesshst
.local/
.macromedia/
.mozilla/
.npm/
.node-gyp/
.pki/
.pulse-cookie
.python_history
.ssh/
.steam/
.steampath
.steampid
.sxhkd.log
.thumbnails/
.tmux.conf
.viminfo
.weechat/
.wine/
.when/
.xdvirc
.zcompdump
.zshrc
15122/
15150/
21241/
21259/
76101/
AshwinSekar.github.io/
ember/
Desktop/
Downloads/
R/
Robotic hand/
Wallpapers/
games/
githubscrots/
march madness/
nodeTutorials/
.wallpapers/.current
eventhub/
